
<div class="form">
    <%= form_with model: @note do |form| %>
    <div>
        <%= form.text_field :content, placeholder:"Take a note..."%>
        <%= form.submit%>
    </div>
    <% end %>
</div>

<div class="container">
    <div class="board">
        <% @all_notes.reverse_each do |note|%>
            <div class="note">
                <div><%= note.content %></div>
                <div class="remove"><%= link_to "x", 
                    "/notes/#{note.id}", 
                    method: "delete" 
                    # data: { confirm: "Are you sure?" }
                     %></div>
            </div>
        <% end %>
    </div>
</div>

