
<div class="form">
    <%= form_with model: @note do |form| %>
    <div>
        <%= form.text_field :content, placeholder:"Take a note..."%>
        <!-- <%= form.text_field :color%> -->
        <input type="hidden" name="color" value="yellow" id="chosen_color">
        <%= form.submit%>
    </div>
    <div class="color_option" onclick="pickMe(id)" id="purple"></div>
    <% end %>
</div>

<div class="container">
    <div class="board">
        <% @all_notes.reverse_each do |note|%>
            <div class="note">
                <div><%= note.content %></div>
                <div class="remove"><%= link_to "x", 
                    "/notes/#{note.id}", 
                    method: "delete" 
                    # data: { confirm: "Are you sure?" }
                     %></div>
            </div>
        <% end %>
    </div>
</div>

<script>
function pickMe(id){
    let color = document.getElementById("chosen_color")
    color.value = id
}
</script>

